---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";
import "../styles/geensnor.scss";
import { SITE_TITLE } from "../consts";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description, image = "/blog-placeholder-1.jpg" } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta content="width=device-width,initial-scale=1" name="viewport" />
<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
<link href="/sitemap-index.xml" rel="sitemap" />
<link href="/human.json" rel="human-json" />
<link
  href={new URL("rss.xml", Astro.site)}
  rel="alternate"
  title={SITE_TITLE}
  type="application/rss+xml"
/>
<meta content={Astro.generator} name="generator" />
<meta content="@mastodon.xyz@geensnor" name="fediverse:creator" />

<!-- Canonical URL -->
<link href={canonicalURL} rel="canonical" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta content={title} name="title" />
<meta content={description} name="description" />

<!-- Open Graph / Facebook -->
<meta content="website" property="og:type" />
<meta content={Astro.url} property="og:url" />
<meta content={title} property="og:title" />
<meta content={description} property="og:description" />
<meta content={new URL(image, Astro.url)} property="og:image" />

<ClientRouter />
